.promo .promo-block .btn {
  width: 200px;
  height: 45px;
  background: #4985FF;
  box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  border: none;
  border-radius: 30px;
  padding: 2%;
  margin-top: 40px;
}
.promo .promo-block .btn a {
  color: #ffffff;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #999999;
  background: #E5E5E5;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  min-width: 320px;
}

.container {
  min-width: 320px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.promo {
  background: url("../images/promo-bg.jpg") center center no-repeat;
}
.promo .promo-block {
  padding: 160px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.promo .promo-block span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  display: block;
}
.promo .promo-block h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .promo .promo-block h1 {
    font-size: 48px;
  }
}
