.promo .promo-block .btn, .info .info-block .btn, .gallery .gallery-block .btn, .form .form-block .form-wrapper .btn {
  width: 200px;
  height: 45px;
  background: #4985FF;
  box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  border: none;
  border-radius: 30px;
  padding: 2%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo .promo-block .btn a, .info .info-block .btn a, .gallery .gallery-block .btn a, .form .form-block .form-wrapper .btn a {
  color: #ffffff;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.info .info-block .sub-title, .about-us .about-us-block .sub-title, .gallery .gallery-block .sub-title, .video .video-block .player-block-wrapper .sub-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
}

.info .info-block .text, .about-us .about-us-block .text, .gallery .gallery-block .text, .video .video-block .player-block-wrapper .text, .form .form-block .text {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.form .form-block .inner-title, .footer .footer-block .item .inner-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #323232;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #999999;
  background: #ffffff;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  min-width: 320px;
}

.container {
  min-width: 320px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.promo {
  background: url("../images/promo-bg.jpg") center center no-repeat;
}
.promo .promo-block {
  padding: 160px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.promo .promo-block span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  display: block;
}
.promo .promo-block h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .promo .promo-block h1 {
    font-size: 48px;
  }
}

.info {
  padding: 70px 15px;
}
.info .info-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.info .info-block .sub-title {
  max-width: 730px;
}
.info .info-block .text {
  text-align: center;
  max-width: 730px;
}
.info .info-block .items {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}
@media (min-width: 1024px) {
  .info .info-block .items {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
  }
}
.info .info-block .items .item {
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-column-gap: 17px;
  margin-top: 70px;
}
.info .info-block .items .item span {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #323232;
}
.info .info-block .items .item p {
  max-width: 240px;
  margin: 0;
}
.info .info-block .items .item .item-image {
  width: 110px;
  height: 110px;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info .info-block .items .item .item-image .item-inner-image {
  width: 90px;
  height: 90px;
  border: 1px solid #4985FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us {
  background: #E5E5E5;
}
.about-us .about-us-block {
  padding: 70px 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}
@media (min-width: 1024px) {
  .about-us .about-us-block {
    grid-template-columns: 1fr 500px;
    grid-column-gap: 80px;
  }
}
.about-us .about-us-block .sub-title {
  text-align: start;
}
.about-us .about-us-block a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4985FF;
}
.about-us .about-us-block .item img {
  display: block;
  width: 100%;
  height: auto;
}

.project-info {
  background: #E5E5E5;
}
.project-info .project-info-block {
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  border-top: 1px solid #E0E0E0;
}
@media (min-width: 1024px) {
  .project-info .project-info-block {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 50px;
  }
}
.project-info .project-info-block .item {
  max-width: 112px;
}
.project-info .project-info-block .item .inner-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.project-info .project-info-block .item .inner-item span {
  font-size: 36px;
  line-height: 53px;
  color: #323232;
}

.gallery {
  background: #E5E5E5;
  padding: 70px 15px;
}
.gallery .gallery-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: column;
}
.gallery .gallery-block .text {
  text-align: center;
  max-width: 730px;
}
.gallery .gallery-block .items {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}
@media (min-width: 1024px) {
  .gallery .gallery-block .items {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
  }
}
.gallery .gallery-block .items img {
  display: block;
  width: 100%;
  height: auto;
}

.video {
  background: url("../images/promo-bg.jpg") center center no-repeat;
  padding: 20% 0;
  margin-bottom: 160px;
}
.video .video-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.video .video-block .player-block-wrapper {
  text-align: center;
  position: absolute;
  top: -190px;
}
.video .video-block .player-block-wrapper .sub-title {
  color: #ffffff;
  padding-top: 70px;
}
@media (min-width: 1024px) {
  .video .video-block .player-block-wrapper .sub-title {
    padding-top: 0;
  }
}
.video .video-block .player-block-wrapper .text {
  color: #ffffff;
}
.video .video-block .player-block-wrapper .player-block {
  position: relative;
}
.video .video-block .player-block-wrapper .player-block .player-block-icon-wrapper {
  position: absolute;
  top: calc(50% - 33px);
  left: 33%;
  display: grid;
  grid-template-columns: 60px 1fr;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 200px;
  width: 300px;
  padding: 2%;
}
.video .video-block .player-block-wrapper .player-block .player-block-icon-wrapper a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  align-items: center;
}

.form {
  padding: 270px 15px;
}
@media (min-width: 1024px) {
  .form {
    padding: 70px 15px;
  }
}
.form .form-block {
  border-top: 1px solid #E0E0E0;
}
.form .form-block .text {
  text-align: center;
}
.form .form-block .form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 1024px) {
  .form .form-block .form-wrapper {
    grid-template-columns: 1fr 1fr;
    max-width: 490px;
    margin: 0 auto;
  }
}
.form .form-block .form-wrapper .btn {
  margin: 40px auto;
}
@media (min-width: 1024px) {
  .form .form-block .form-wrapper .btn {
    border-radius: 0 30px 30px 0;
    margin: 0;
  }
}
.form .form-block .form-wrapper input {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  padding-left: 20px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .form .form-block .form-wrapper input {
    border-radius: 30px 0 0 30px;
  }
}

.footer {
  background: #E5E5E5;
  padding: 70px 15px;
}
.footer .footer-block {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 1024px) {
  .footer .footer-block {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
  }
}
.footer .footer-block .item .inner-title {
  text-align: start;
}
.footer .footer-block .item a {
  text-decoration: none;
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  padding-top: 20px;
}
.footer .footer-block .item .inner-text span {
  margin-left: 10px;
}
.footer .footer-copyright {
  display: flex;
  justify-content: center;
  border-top: 1px solid #E0E0E0;
  margin-top: 70px;
}
